<h2 class="hr">Acerca de mí</h2>
<div class="col-lg-2">
    <img src="/img/avatar.jpg" alt="Xavier Fornés" class="img-circle pull-left avatar">
</div>
<div class="col-lg-10">
    <p>Soy desarrollador de aplicaciones web y vivo en Mataró (Barcelona).</p>
    <p>Desde el año 2004 me dedico profesionalmente al desarrollo de aplicaciones Web. A lo largo de estos años he trabajado en una gran variedad de proyectos en empresa por cuenta ajena o por cuenta propia en mi empresa.</p>
</div>
