<h2 class="hr">Y un poco de...</h2>
{% set otherSkills = ['Ruby', 'Python', 'VB.NET', 'C#', 'Java', 'MSSQL Server', 'Shell scripts'] %}
<div class="col-lg-12">
    <p>{{ otherSkills | join(', ') }}</p>
</div>
