<h2 class="hr">Proyectos</h2>
<div class="col-lg-12">
    <ul>
        <li><a href="http://www.prunatic.com" target="_blank">Prunátic Consultoría Web</a>, marca profesional bajo la que trabajo por mi cuenta. <a href="https://github.com/xfornesa/prunatic.com" target="_blank">Ir a Github</a></li>
        <li><a href="http://www.xavierfornes.com" target="_blank">Web de Xavier Fornés</a>, esta propia web. <a href="https://github.com/xfornesa/xavierfornes.com" target="_blank">Ir a Github</a></li>
        <li><a href="http://whoisthestig.prunatic.com" target="_blank">Who is The Stig?</a>, una aplicación web hecha en Silex como regalo de broma a una persona. <a href="https://github.com/xfornesa/whoisthestig" target="_blank">Ir a Github</a></li>
        <li>Shouts, una aplicación para el 11 de septiembre, la Diada de Catalunya. <a href="https://github.com/xfornesa/shouts" target="_blank">Ir a Github</a></li>
    </ul>
</div>
