<h2 class="hr">Conocimientos</h2>
{% set skills = [
    {'category': 'Web', 'knowledge': ['HTML', 'CSS']},
    {'category': 'Javascript', 'knowledge': ['jQuery']},
    {'category': 'Desarrollo', 'knowledge': ['PHP', 'Symfony', 'BDD', 'TDD']},
    {'category': 'Bases de datos', 'knowledge': ['MySQL', 'MongoDB', 'Redis']},
    {'category': 'Sistemas', 'knowledge': ['Windows', 'Linux', 'LAMP', 'Apache 2+', 'Bash']},
    {'category': 'Herramientas', 'knowledge': ['git', 'Subversion']}
] %}
{% for skill in skills %}
    <div class="col-lg-2">
        <span>{{ skill.category }}</span>
        <ul>
            {% for element in skill.knowledge %}
                <li>{{ element }}</li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
