<h2 class="hr">Conocimientos</h2>
{% set skills = [
{'category': 'Desarrollo', 'knowledge': ['PHP', 'Symfony', 'BDD', 'TDD', 'DDD']},
{'category': 'Bases de datos', 'knowledge': ['MySQL', 'MongoDB', 'Redis', 'Sphinx']},
{'category': 'Web', 'knowledge': ['HTML', 'CSS']},
{'category': 'Javascript', 'knowledge': ['jQuery', 'Vanilla javascript']},
    {'category': 'Herramientas', 'knowledge': ['git', 'Subversion']},
{'category': 'Sistemas', 'knowledge': ['Windows', 'Linux', 'LAMP', 'Apache', 'Bash']},
] %}
{% for skill in skills %}
    <div class="col-lg-2">
        <span>{{ skill.category }}</span>
        <ul>
            {% for element in skill.knowledge %}
                <li>{{ element }}</li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
