/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1,
.h1 {
    font-size: 28px;
}

h2,
.h2 {
    font-size: 22px;
}

h2.hr {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 8px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h1 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 7px;
}
.header h1.text-muted a {
    color: #999999;
}
.header h1.text-muted a:hover {
    color: #999999;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

#about .avatar {
    height: 100px;
}

#social .list-inline > li {
    margin-right: 16px;
}
#social .list-inline > li:last-of-type {
    margin-right: 0;
}
#social .list-inline > li img {
    height: 24px;
}

ul.labels > li {
    margin-bottom: 10px;
}
ul.labels > li > span.label {
    font-size: 85%;
}
ul.labels > li:nth-child(1n+0) > span.label {
    background-color: #5cb85c;
}
ul.labels > li:nth-child(2n+0) > span.label {
    background-color: #5bc0de;
}
ul.labels > li:nth-child(3n+0) > span.label {
    background-color: #f0ad4e;
}
ul.labels > li:nth-child(4n+0) > span.label {
    background-color: #d9534f;
}
ul.labels > li:nth-child(5n+0) > span.label {
    background-color: #999999;
}
ul.labels > li:nth-child(6n+0) > span.label {
    background-color: #428bca;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}
