{% extends 'layout.html.twig' %}

{% block title %}Error{% endblock %}
{% block description %}{{ parent() }}{% endblock %}
{% block keywords %}{{ parent() }}{% endblock %}

{% block content %}
    <div id="content" class="error">
        <h1>{{ errorMessage }}</h1>
    </div>
{% endblock %}
