{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block description %}{{ parent() }}{% endblock %}

{% block content %}
    <div class="row marketing" id="about">
        {% include 'Default/components/about.html.twig' only %}
    </div>

    <div class="row marketing" id="social">
        {% include 'Default/components/social.html.twig' only %}
    </div>

    <div class="row marketing" id="skills">
        {% include 'Default/components/skills.html.twig' only %}
    </div>

    <div class="row marketing">
        {% include 'Default/components/other_skills.html.twig' only %}
    </div>

    <div class="row marketing" id="projects">
        {% include 'Default/components/projects.html.twig' only %}
    </div>

    <div class="row marketing" id="history">
        {% include 'Default/components/history.html.twig' only %}
    </div>
{% endblock content %}
