<div class="col-lg-6">
    <p>Icons by <a href="http://glyphicons.com" title="GLYPHICONS" target="_blank">GLYPHICONS</a> <a href="http://creativecommons.org/licenses/by/3.0/" title="CC-BY 3.0" target="_blank">CC-BY 3.0</a></p>
</div>
<div class="col-lg-6 text-right">
    <p>&copy; Xavier Fornés {{ "now"|date("Y") }}</p>
</div>
