{% if labels is defined %}
    <ul class="list-inline labels">
    {% for label in labels %}
        <li><span class="label label-success">{{ label }}</span></li>
    {% endfor %}
    </ul>
{% endif %}
